@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&family=Fuzzy+Bubbles:wght@400;700&family=Smooch&display=swap");
:root {
  --primary-color: #3b82f6;
  --white-color: #f9fafb;
  --light-blue: #bfdbfe;
}
body {
  background-color: var(--primary-color);
  margin: 0px;
  font-family: "Fuzzy Bubbles", cursive;
}
.container {
  max-width: 600px;
}
.container-centre {
  margin: auto;
}
#btn-translate {
  display: block;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  max-width: fit-content;
  border-radius: 1rem;
  background-color: var(--white-color);
  font-size: larger;
  border: 3px solid black;
}
#textArea {
  display: block;
  height: 30vh;
  padding: 1rem;
  font-size: larger;
  resize: none;
  border-radius: 1rem;
  border: 3px solid black;
  width: 600px;
}
#output {
  border: 1px solid black;
  height: 10vh;
  border: 3px solid black;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  width: 600px;
}
.navigation {
  display: block;
  height: 10vh;
  background-color: var(--white-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: x-large;
}
.footerStyle{
    display: block;
    background-color: var(--white-color);
    height: auto;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
    
}
.footerHeading{
    display: block;
}
.footerInfo{
    display: block;
    max-width: 30%;
    margin: auto;
    text-align: center;
}